@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Todo

<form method="post">
        <div class="container mt-5">
            <h1 class="text-center">Todo List</h1>
            <div class="form-group">
                <label asp-for="title"></label>
                <input asp-for="title" class="form-control"/>
            </div>
            <div>
                <label asp-for="description"></label>
                <input asp-for="description" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Add Task</button>


        </div>
</form>
